<!DOCTYPE html>
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src=../js/jquery.js></script>
</head>
<body>
	<h1>{{ pagename|title }}</h1>
	<ul>
	{% for author in authors %}
		<li{% if loop.first %} class="first"{% endif %}>
			{{ author }}
		</li>
	{% endfor %}
	</ul>
	<button onclick = 'change()' id ='button'>click me</button>
	<script>
		function change()
		{
			$.get("test1",function(result, err)
			{
				console.log(1);
				if (err)
				{
					console.log(err);
				}
				console.log(result);
			});
		}
	</script>
</body>
</html>